body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    font-family: Archivo-black, sans-serif;
}

#game-container {
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 2px, solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.correct {
    background-color: #28774F;
    border-color: #28774F;
    color: #ffffff
}

.present {
    background-color: #d2ef47;
    border-color: #d2ef47;
    color: #ffffff
}

.absent {
    background-color: #aeaeae;
    border-color: #aeaeae;
    color: #ffffff;
}

#guess-input {
    font-size: 24px;
    padding: 5px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#submit-button {
    padding: 10px 20px;
    background-color: #7da1bf;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

#submit-button:hover {
    color: #7da1bf;
    background-color: #0048a4;
}

#message {
    margin-top: 20px;
    font-size: 18px;
}

/*#keyboard {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(3, 30px);
    gap: 5px;
    justify-content: center;
    margin: 20px 0;
}

.key {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border: 1px solid #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    user-select: none; /* PREVENT TEXT SELECTION */
    /*text-transform: uppercase;*/
}

.key:hover {
    background-color: #ccc;
}

/* MAKE THE BACKSPACE KEY WIDER*/
/*.key.backspace {
    grid-column: span 2; 
}*/

#keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #keyboard-cont div {
    display: flex;
  }
  
  .second-row {
    margin: 0.5rem 0;
  }
  
  .keyboard-button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
  }

